.search-bar {
  display: flex;
  background: #efefef;
  box-shadow: 0 0 5px 1px #0002;
  padding: 10px 0;
  flex-basis: 100%;
  justify-content: center;

  & > .find {
    flex: 0.5;
  }
}

.card-header {
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.card-body {
  & > div {
    color: #000a;
  }
}

.book-page {
  .list {
    .list-items {
      width: 90%;
    }
  }
}

.book-card {
  height: 180px;
  .card-body {
    padding: 0 20px 10px;
  }
}

.book-modal {
  .modal-dialog {
    max-width: 1000px;

    .modal-content {
      display: flex;
      flex-direction: row;
      max-width: 1000px;

      .book-details {
        margin-left: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;

        .modal-footer {
          position: relative;

          span {
            position: absolute;
            left: 10px;
            top: 35%;
          }
        }
      }
    }
  }
}
