.card {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 300px;
  height: 300px;

  text-align: initial;
  margin: 15px;
  box-shadow: 2px 2px 5px 0 #0008;

  .card-title {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #ededed;

    a {
      text-decoration: none;
    }
  }

  .card-text {
    padding: 15px;
  }
}