.diff-choice {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;

  .choice {
    flex-basis: 350px;
    min-height: 350px;
    box-shadow: 1px 1px 5px 1px #0005;
    background: #ebebeb;
    border-radius: 2px;

    .choice-control {
      padding: 5px 25px 25px;
      text-align: center;

      .radio {
        display: block;
      }
    }

    .choice-details {
      display: flex;
      flex-direction: column;
      padding: 0 25px 25px;

      .diff {
        display: flex;
        padding: 5px 5px;

        &:nth-child(even) {
          background: #dedede;
        }

        &-value {
          margin-left: auto;
        }
      }
    }
  }
}