.form-group {
    position: relative;

    .form-label {
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: .25rem 0 0 .25rem;
        font-size: .9em;
        width: 100px;
        padding-left: 5px;
        padding-right: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #0009;
        background: #bbb2;
        height: 36px;
        line-height: 37px;
        text-align: center;
        border-right: 1px solid #bbb3;
    }

    .form-control {
        padding-left: 110px;
    }
}

.radio-group {
    display: flex;

    .radio-button {
        display: flex;
        align-items: center;
        padding: 15px 20px;

        span.radio {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px solid $brand-primary;
            border-radius: 100%;
            cursor: pointer;
            position: relative;

            &.checked::before {
                position: absolute;
                width: 12px;
                height: 12px;
                background: $brand-primary;
                content: ' ';
                border-radius: 100%;
                top: 2px;
                left: 2px;
            }
        }

        label {
            margin-left: 10px;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
}