.landing {
  text-align: left;
  padding: 30px;

  .my-rentals {
    .rentals-list {
      display: flex;
      flex-direction: column;

      .rental-section {
        margin-top: 30px;
        &:first-child {
          margin-top: 0;
        }
      }

      .section-cards {
        display: flex;
        flex-wrap: wrap;

        .my-rental-card {
          height: 100px;
          width: 300px;
          position: relative;

          > .card-body {
            padding: 10px;
          }

          &:hover {
            background: #fffb;
          }

          .action-buttons {
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: 5px;
            right: 5px;

            .dropdown {
              width: 30px;
              height: 30px;
              text-align: center;
            }

            .dropdown-toggle {
              background: transparent !important;
              color: black !important;
              border: none !important;
              outline: none !important;
              box-shadow: none !important;
              border-radius: 100%;
              width: 30px;
              height: 30px;
              line-height: 30px;
              padding: 0;

              &::after {
                display: none;
              }
            }
          }

          .rental-card-lib {
            position: absolute;
            bottom: 5px;
            left: 10px;
          }
        }
      }
    }
  }
}