$flag-width: 30px;
$flag-height: 24px;

.language-selector {
  .flag {
    cursor: pointer;
    padding: 0 !important;
    min-width: $flag-width !important;
    height: $flag-height !important;
  }
}