#libraries-page {
    padding: 30px;

    table {
        text-align: left;

        .header {
            background: #fff5;
        }

        .add-button {
            text-align: center;
            color: rgba(0, 0, 0, 0.2);
            background: rgba(0, 0, 0, 0.01);
            border: none;
            transition: color .5s, background .5s;
            cursor: pointer;
            user-select: none;

            &:hover {
                color: black;
                background: #0001;
            }

            td .material-icons, td span {
                vertical-align: middle;
            }
        }
    }
}

.my-library {
    text-align: left;
    padding: 30px;

    .my-library-books {
        h4 button {
            margin-left: 20px;
        }

        .card {
            position: relative;
            height: 100px;

            .isbn {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
    }
}