$carousel-loader-width: 60%;

.modal-loader {
    display: flex;
    align-items: center;
    user-select: none;

    .icon {
        background: url("/static/loader-book.svg");
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    & > h4 {
        transition: opacity .5s ease-in-out;
    }
}

.carousel-loader {
    height: 100%;
    position: relative;
    border: 1px solid #bbbe;
    cursor: progress;

    &::before {
        position: absolute;
        height: 100%;
        width: $carousel-loader-width;
        background: linear-gradient(to left, transparent 5%, #bbbe 50%, transparent 95%);
        content: ' ';
        transition: background .5s;
        animation: pendulate 2s infinite ease-in-out;
    }
}

@keyframes pendulate {
    0% {
        left: 0;
    }

    50% {
        left: calc(100% - #{$carousel-loader-width});
    }

    100% {
        left: 0;
    }
}
