.prompt-modal {
    .modal-content {
        margin-top: 40px;
    }

    .login-title {
        margin: 20px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        min-width: 300px;

        p {
            margin-top: auto;
            font-size: 12px;
            color: #000b;
        }
    }
}