#messages {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .message {
        animation: fade-in 1s;
        height: 50px;
        width: 350px;
        padding: 5px 25px 5px 10px;
        font-size: small;
        font-weight: 600;
        color: #000a;
        box-shadow: 1px 1px 5px #0005;
        border-radius: .2em;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .close-btn {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            transform: scale(0.5, 0.5);
        }
    }

    .message-success {
        background: $brand-success;
    }

    .message-error {
        background: $brand-danger;
    }

    .message-warning {
        background: $brand-warning;
    }

    .message-info {
        background: $brand-info;
    }
}