.dialog .modal-content {
    padding: 10px 15px;

    .modal-body {
        padding: 1rem 0;
        color: #000a;
        min-height: 70px;
    }

    .modal-footer {
        padding: .5rem;
        border: none;

        & > button {
            min-width: 80px;
        }
    }
}

.form-modal .modal-content {
    .modal-footer {
        & > button {
            min-width: 100px;
        }
    }
}