.pair-list {
    display: flex;

    &.chained {
        flex-wrap: wrap;

        .pair {
            margin: 5px 10px;

            .key {
                font-weight: 900;
                text-transform: uppercase;
            }

            .value {
                font-size: small;
            }
        }
    }

    &.listed {
        flex-direction: column;

        .pair {
            display: flex;

            .value {
                margin-left: auto;
            }
        }
    }
}