.user-picture {
  position: fixed !important;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 100% !important;
  right: 10px;
  bottom: 10px;
  box-shadow: 1px 1px 1px #0005;
  border: 2px solid #fff4 !important;

  &:hover {
    border: 2px solid #fff8 !important;
  }

  .initials {
    font-size: x-large;
    color: #fffd;
  }
}