.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  opacity: 0.8;
  cursor: not-allowed;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}
.Select.is-disabled  ~ .bar {
  border-bottom: 1px dashed #d2d2d2;
}
.Select.is-disabled ~ .control-label {
  opacity: 0.38;
}

.Select-control {
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 35px;
  outline: none;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control .Select-arrow:before {
  top: -2px;
  content:"keyboard_arrow_up"
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #a9afbb;
  left: 0;
  line-height: 39px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
}
.Select-placeholder{
  padding-right: 30px;
}
.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 55px;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 0;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  height: 24px;
  background: none transparent;
  border: 0 none !important;
  box-shadow: none !important;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
  transition: none !important;
}

.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
  z-index: 9;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
  color:transparent;
}

.Select-clear:before {
  content:"close";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  display: inline-block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1;
  color:#666;
}

.Select-clear:hover:before {
  color:#EF5350;
}


.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
}

.Select-arrow:before {
  content:"keyboard_arrow_down";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1;
  color:#666;
}

.is-open .Select-arrow:before,
.Select-arrow-zone:hover > .Select-arrow:before {
  color:#585858;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin-top: 1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu-outer .employee-picture {
  width:28px;
  height: 28px;
  margin-right: 10px;
}
.Select-menu-outer .media {
  overflow:visible;
}
.Select-menu-outer .employee-picture .avatarPic {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  line-height: 28px;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  max-width:28px;
  overflow:hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.39);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.39);
}
.Select-menu-outer .employee-name {
  font-weight: 500;
  font-size:13px;
  display: inline-block;
  vertical-align: middle;
}
.Select-menu-outer .employee-position {
  display: block;
  font-size: 11px;
  opacity: 0.87;
}
.Select-menu {
  font-weight: 400;
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 400;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #e1e1e1;
  /* Fallback color for IE 8 */
  background-color: #e1e1e1;
  color: #333;
}
.Select-option.is-focused {
  background-color: #eee;
  /* Fallback color for IE 8 */
  background-color: #eee;
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  font-weight: 400;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 0;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #9d86a9;
  border-radius: 2px;
  border: 1px solid #9d86a9;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  margin-right: 5px;
  margin-top: 3px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 4px 9px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  padding:0;
  width:24px;
  height:24px;
  font-size: 0;
  position: relative;
  background: #9c87aa;
  text-align: center;
  opacity: 0.8;
}
.Select--multi .Select-value-icon:hover {
  opacity: 1;
}
.Select--multi .Select-value-icon:before {
  content:"cancel";
  position: absolute;
  top:0;
  left: 0;
  width:24px;
  height:24px;
  color:#fff;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  color: #3d4956;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

.material .is-focused + i.bar:before {
  width: 100%;
  left: 0;
}

.material .control-label {
  font-size: 11px;
  bottom: 30px;
  left: 0;
  color: #666;
  font-weight: 400;
  margin-bottom: 0;
}

//Material inputs
.material {
  position: relative;
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    opacity: 0;
  }
  :-ms-input-placeholder { /* IE 10+ */
    opacity: 0;
  }
  :-moz-placeholder { /* Firefox 18- */
    opacity: 0;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 9999px white inset !important;
  }

  .control-label {
    font-weight: 500;
    &.required:after {
      content: "*";
      font-size: 10px;
      display: inline-block;
      vertical-align: top;
      margin-left: 2px;
    }
  }

  &.input-group {
    position: relative;
    display: block;
    .form-control {
      float: none;
      position: relative;
    }
    &.month-selector {
      .form-control {
        width:100%;
        cursor:pointer;
      }
    }
    .input-group-addon {
      position: absolute;
      top: 0px;
      right: 7px;
      background: transparent;
      border: none;
      .material-icons {
        font-size: 22px;
        color: $brand-gray;
      }
    }
  }

  .rdt ~ .control-label {
    position: absolute;
    bottom: 5px;
    pointer-events: none;
    z-index: 1;
    color: $brand-gray;
    font-size: 13px;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .rdt.rdtOpen + .control-label,
  .rdt.has-value + .control-label,
  .rdt.has-focus + .control-label {
    position: absolute;
    font-size: 11px;
    bottom: 36px;
    left: 0;
    font-weight: 500;
  }

  .rdt.rdtOpen + .control-label {
    color: $brand-primary;
    font-weight: $bold-font;
  }

  .rdtOpen ~ .bar:before {
    width: 100%;
    left: 0;
  }

  &.w-icon {
    span.material-icons {
      position: absolute;
      left: 0;
      top: 11px;
      font-size: 20px;
      z-index: 1;
      color: $brand-gray;
    }
    &.autocomplete-field {
      .control-label {
        padding-left: 0;
      }
      span.material-icons{
        top:auto;
        bottom:6px;
        pointer-events:none;
      }
      .Select-value {
        padding-left:30px;
      }
    }
    input[type="text"], input[type="password"], input[type="email"], select, .control-label, .Select-input, .Select-placeholder {
      padding-left: 28px;
    }
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="inline"] {
    height: 35px;
    display: block;
    background: none;
    padding: 6px 0;
    font-size: 13px;
    border-width: 0;
    border-color: transparent;
    line-height: 1;
    width: 100%;
    color: #000;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
    font-weight: $normal-font;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  select {
    height: 35px;
    display: block;
    background: none;
    padding: 6px 0px;
    font-size: 13px;
    border-width: 0;
    border-color: transparent;
    line-height: 1;
    width: 100%;
    color: #000;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
  &.textArea {
    .control-label {
      position: relative;
      bottom: 0;
      margin-bottom: 5px;
      font-size: 13px;
      color: #666;
      font-weight: 500;
    }
    textarea {
      min-height: 80px;
      max-height: 160px;
      max-width: 100%;
      min-width: 100%;
      border:1px solid #d4d4d4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding:10px 27px 10px 10px;
      font-weight: $normal-font;
      &::-webkit-input-placeholder {
        opacity: 1!important;
      }
      &:-moz-placeholder {
        opacity: 1!important;
      }
      &::-moz-placeholder {
        opacity: 1!important;
      }
      &:-ms-input-placeholder {
        opacity: 1!important;
      }
      &:focus {
        border-color:$brand-primary;
      }
    }
    &.w-icon {
      .control-label {
        padding-left:0;
      }
      .textarea-wrapper {
        position: relative;
        textarea {
          padding-left:124px;
          padding-right: 35px;
        }
        .textarea-icon {
          position: absolute;
          left:0;
          border-right: 1px solid #e9e9e9;
          display: block;
          font-size: 30px;
          padding:10px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background: #dadada;
          margin: 0 25px;
          top:50%;
          color:#fff;
          transform: translateY(-50%);
          &:before {
            content:"";
            position: absolute;
            top:0;
            height: 100%;
            width:1px;
            background:#e9e9e9;
            right:-25px;
          }
          &.green {
            background: $brand-success;
          }
          &.orange {
            background: $brand-warning;
          }
        }
      }
    }
    &.w-info {
      .textarea-wrapper {
        textarea {
          padding-right:50px;
        }
        position: relative;
        .infoTooltipIcon {
          position: absolute;
          right: 10px;
          top: 10px;
          margin: 0;
        }
      }
    }
  }
  &.select {
    i.material-icons {
      position: absolute;
      bottom: 6px;
      right: 1px;
      color: $brand-gray;
      pointer-events: none;
    }
    .dropdown{
      width: 100%;
      display: block;
      height: 35px;
      .btn {
        width:100%;
        font-weight: 500;
        display: block;
        height: 35px;
        padding:9px 26px 9px 0px;
        border:none;
        background:transparent;
        text-transform: none;
        text-align: left;
      }
      .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width:auto;
        min-width: 100%;
        padding: 0;
        margin-top: 1px;
        li {
          a {
            padding:8px 10px;
            color: #666666;
            font-weight: 400;
            &:hover {
              color:#333;
              background-color: #F5F7F8;
            }
          }
          &.active a {
            color:#333;
            background-color: #F5F7F8;
          }
          &.boldOption a {
            font-weight: $bold-font;
          }
          &.indentOption a {
            padding-left: 25px;
          }
        }
      }
    }
    .dropdown.open ~ .bar:before {
      width: 100%;
      left: 0;
    }
    .dropdown.open ~ i.material-icons {
      transform: rotate(180deg);
    }
  }

  input:placeholder-shown:not(:focus) + .control-label {
    position: absolute;
    bottom: 5px;
    pointer-events: none;
    z-index: 1;
    color: $brand-gray;
    font-size: 13px;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    font-weight: 400;
    margin-bottom: 0px;
    &.required:after {
      content:"*";
      font-size: 12px;
      display: inline-block;
      vertical-align: top;
      margin-left: 2px;
    }
  }

  input[type="text"]:focus, input[type="password"]:focus, select {
    color: #333;
    outline: none;
    font-weight: $normal-font;
  }

  input + .control-label, select + .control-label{
    position: absolute;
    font-size: 11px;
    bottom: 36px;
    left: 0;
    color: $brand-gray;
    font-weight: 500;
    -webkit-transition: bottom 0.28s ease;
    transition: bottom 0.28s ease;
  }

  input:-webkit-autofill + .control-label {
    position: absolute;
    font-size: 11px;
    bottom: 36px;
    left: 0;
    color: $brand-gray;
    font-weight: 500;
    -webkit-transition: bottom 0.28s ease;
    transition: bottom 0.28s ease;
  }

  input + .control-label {
    &.required:after {
      content:"*";
      font-size: 10px;
      display: inline-block;
      vertical-align: top;
      margin-left: 2px;
    }
  }

  select + .control-label {
    &.required:after {
      content:"*";
      font-size: 10px;
      display: inline-block;
      vertical-align: top;
      margin-left: 2px;
    }
  }

  input:focus + .control-label, select:focus + .control-label {
    color: $brand-primary;
  }

  input:focus ~ .bar:before, select:focus ~ .bar:before {
    width: 100%;
    left: 0;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
    color: #909293;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder {
    opacity: 1;
    color: #909293;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder {
    opacity: 1;
    color: #909293;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder {
    opacity: 1;
    color: #909293;
    transition: all 0.5s ease;
  }

  .bar {
    position: relative;
    border-bottom: 1px solid #d4d4d4;
    display: block;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      left: 50%;
      bottom: -1px;
      position: absolute;
      background: $brand-primary;
      -webkit-transition: left 0.28s ease, width 0.28s ease;
      transition: left 0.28s ease, width 0.28s ease;
      z-index: 2;
    }
  }
  .form-control[disabled] {
    border: none;
    background: #fff;
    opacity: 0.8;
  }
  .form-control[disabled] ~ .control-label {
    opacity: 0.38;
  }
  .form-control[disabled] ~ .bar {
    border-bottom: 1px dashed #d2d2d2;
  }
  .form-control[disabled] ~ .material-icons {
    opacity: 0.5;
  }
  &.ReactPasswordStrength {
    font-family: 'PT Sans', sans-serif;
    font-weight: $normal-font;
    font-size: 14px;
    border: none;
    line-height: inherit;
    .ReactPasswordStrength-input {
      background: transparent;
      padding: 6px 4px 6px 28px;
      width: 68%;

    }
    .ReactPasswordStrength-strength-desc {
      width: 32%;
      padding: 0;
      top: 14px;
      right: 4px;
    }
    .ReactPasswordStrength-strength-bar {
      position: absolute;
      top: auto;
      right: auto;
      z-index: 10;
      margin-top: -2px;
    }
  }
}