body {
  margin: 0;
}

.content-wrapper {
  min-height: 100vh;
  margin: 0;
  display: flex;
}

.content {
  background: #dfdfdf;
  text-align: center;
  flex-grow: 1;
}

.grid {
  display: flex;
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-default {
  background: #0001 !important;
  border: 1px solid #0002 !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: $brand-primary !important;
  color: white !important;
}

.btn:disabled {
  background: #0007 !important;
  border: #000 !important;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background: url('/static/library_1.jpg');
  background-size: cover;
  overflow: hidden;

  .row {
    justify-content: center;
  }

  .login-form {
    margin: 25px;
  }
}