.sidebar {
  position: relative;
  background: $brand-primary;
  box-shadow: 0 1px 5px 1px #0009;

  &.closed {
    .menu-list a {
      text-align: center;
    }

    .material-icons {
      margin: 0;
    }
  }

  .menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
      display: block;
      padding: 12px 0;
      color: #ddd;
      text-decoration: none;
      transition: all .5s;
      cursor: pointer;

      &:hover {
        background: #3a69a8;
        color: white;
      }

      & > .material-icons {
        font-size: 16px;
        margin: -2px 10px;
      }
    }

    & > .hide-btn {
      color: white;
      border-radius: 0;
      background: $purple-color !important;
      font-size: 10px;
      box-shadow: none !important;
      outline: none !important;
      border: none !important;
    }
  }
}