$light-turquoise: #a2d3d3;
$light-turquoise-semi: #a2d3d399;
$light-turquoise-transparent: #a2d3d344;

$light-red: #f2bbbb;
$light-red-semi: #f2bbbb99;
$light-red-transparent: #f2bbbb44;

$dark-white: #ccc;

// Redefined Gray colors for theme
$gray-darker:            #232735;
$gray-dark:              #3a3f51;
$gray:                   #dde6e9;
$gray-light:             #e4eaec;
$gray-lighter:           #edf1f2;
$footer-gray-link:       #414141;
$green-gray:             #78918d;

$brand-primary:          #2b5787;
$brand-success:          #16d3b8;
$brand-info:             #2a93d6;
$brand-warning:          #ff7b5f;
$brand-danger:           #ee2424;
$brand-secondary:        #16d3b8;
$brand-gray:             #666666;
$brand-gray-dark:        #2b2b2b;
$brand-gray-lighter:     #424242;
$purple-color:           #735284;
$light-purple-color:     #9d86a9;

$brand-inverse:          #131e26;
$brand-green:            #37bc9b;
$brand-pink:             #f532e5;
$brand-purple:           #10c3ac;
$brand-dark:             #3a3f51;
$brand-yellow:           #fad732;

$light-font: 300;
$normal-font:400;
$bold-font:500;

$sidebar-width: 140px;

.block { display: block }

.calibri {
  font-family: "Calibri Light", serif;
}

.fill-x {
  display: block;
  width: 100%;
}

.text-danger {
  color: red;
}

.bold {
  font-weight: 800;
}